<footer class="site-footer">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col">
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
          <li class="p-name">Programové oddělení MZK</li>
          <li><a class="u-email" href="produkce@mzk.cz">produkce@mzk.cz</a></li>
          <li class="p-name">Odbor správy digitálních dokumentů MZK</li>
          <li><a class="u-email" href="digitalniknihovna@mzk.cz">digitalniknihovna@mzk.cz</a></li>
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <div class="popis">
          Eduard Lendl - Multimediální výstava
        </div>
        <img class="mzk" src="/assets2/mzkralovna.png" alt="logo mzk">
      </div>
      <div>
        
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>
   

  </div>
  <!-- <img class="mzk" src="/assets/mzk.png" alt="logo mzk"> -->
</footer>
