/**
 * Site header
 */
@media (max-width: 790px) {

.site-header {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("/assets/uvodni2.jpeg");
 
}

/* .site-subtitle {
  font-size: 0.80rem;
  margin: 5px; 
  color: white
} */

.site-title {
  font-size: /* calc(2vw + 2rem) */ 50re;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  font-weight: 250;
  letter-spacing: -1px;
  font-style: bold;
  margin-top: 0px;
}

 .logooci {
  width: 14%;
  display: flex;
  /* justify-content: flex-end; */
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
 }

 .mzk {
  width: 14%;
  align-self: center;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
 }

 .post-icon {
  max-width: 6%;
  height: auto;
  vertical-align: middle;  
}

}

@media (min-width: 791px) {
  .logooci {
    width: 13%;
    display: flex;
    /* justify-content: flex-end; */
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .site-header {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("/assets/uvodni2.jpeg");
   
  }
  
  /* .site-title-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  } */
  
  .site-title {
    font-size: calc(2vw + 2rem);
    margin: 0;
    font-weight: 300;
    letter-spacing: -1px;
    font-style: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .post-icon {
    max-width: 3%;  
  }

}

.site-footer {
  border-top: 1px solid $border-color-01;
  padding: $spacing-unit 0;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * .5;
}


.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper,
.social-links {
  @include relative-font-size(0.9375);
  color: $brand-color;
}

.footer-col {
  margin-bottom: $spacing-unit * .5;
}

.footer-col-1,
.footer-col-2 {
  width: calc(50% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: calc(100% - (#{$spacing-unit} / 2));
}

@media screen and (min-width: $on-large) {
  .footer-col-1 {
    width: calc(35% - (#{$spacing-unit} / 2));
  }

  .footer-col-2 {
    width: calc(20% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: calc(45% - (#{$spacing-unit} / 2));
  }
}

@media screen and (min-width: $on-medium) {
  .footer-col-wrapper {
    display: flex
  }

  .footer-col {
    width: calc(100% - (#{$spacing-unit} / 2));
    padding: 0 ($spacing-unit * .5);

    &:first-child {
      padding-right: $spacing-unit * .5;
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      padding-left: $spacing-unit * .5;
    }
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1 0 auto;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $brand-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title,
.post-content h1 {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.625);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1, h2, h3, h4, h5, h6 { margin-top: $spacing-unit }

  h2 {
    @include relative-font-size(1.75);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(2);
    }
  }

  h3 {
    @include relative-font-size(1.375);

    @media screen and (min-width: $on-large) {
      @include relative-font-size(1.625);
    }
  }

  h4 {
    @include relative-font-size(1.25);
  }

  h5 {
    @include relative-font-size(1.125);
  }
  h6 {
    @include relative-font-size(1.0625);
  }
}


.social-media-list {
  display: table;
  margin: 0 auto;
  li {
    float: left;
    margin: 5px 10px 5px 0;
    &:last-of-type { margin-right: 0 }
    a {
      display: block;
      padding: 10px 12px;
      border: 1px solid $border-color-01;
      &:hover { border-color: $border-color-02 }
    }
  }
}



/**
 * Pagination navbar
 */
.pagination {
  margin-bottom: $spacing-unit;
  @extend .social-media-list;
  li {
    a, div {
      min-width: 41px;
      text-align: center;
      box-sizing: border-box;
    }
    div {
      display: block;
      padding: $spacing-unit * .25;
      border: 1px solid transparent;

      &.pager-edge {
        color: $border-color-01;
        border: 1px dashed;
      }
    }
  }
}

