---
layout: base
---

<style>
  .post-group {
    position: static;
  }
  
  .post-group-line {
    content: "";
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f9d0a1;
    margin-bottom: 20px;
    margin-top: 5px;
  }
  
  .post-group-title {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 65px;
  }

 
  .popis-obrazku {
    font-size: small;
    color: slategray;
  }

</style>



<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  {%- if posts.size > 0 -%}
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      {% if post.group_title %}
      {% assign current_group_title = post.group_title %}
      <div class="post-group">
        <h3 class="post-group-title">{{ current_group_title }}</h3>
        <hr class="post-group-line" />
        <li>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              <img src="/assets/arrows.png" alt="post-icon" class="post-icon">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
      </div>
    {% else %}
      <li>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            <img src="/assets/arrows.png" alt="post-icon" class="post-icon">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
    {% endif %}
    {%- endfor -%}
  </ul>

  {% if site.paginate %}
    <div class="pager">
      <ul class="pagination">
      {%- if paginator.previous_page %}
        <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
      {%- else %}
        <li><div class="pager-edge">•</div></li>
      {%- endif %}
        <li><div class="current-page">{{ paginator.page }}</div></li>
      {%- if paginator.next_page %}
        <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
      {%- else %}
        <li><div class="pager-edge">•</div></li>
      {%- endif %}
      </ul>
    </div>
  {%- endif %}


{%- endif -%}



</div>



<style>
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<style>
  .ntext {
    text-align: justify;
    font-family: Noto Sans Georgian;
    font-size: 19px;
  }
</style>

<style>
  .button {
    color:black;
    background-color: #a7c8e8;
    border-color: black;

  }
</style>


